<article class="user-article">
  <%= link_to user_path(user), class: "user_details" do %>
    <div class="user-img">
      <img src="<%= user.photo %>" alt="User photo">
    </div>
    <div class="name-posts">
      <h2><%= user.name %></h2>
      <p>Number of posts: <%= user.posts_counter%> </p>
    </div>
  <% end %>
</article>
