<article>
  <%= link_to user_path(user) do %>
    <div class="user_details">
      <div class="user-img">
        <img class="photo" src="<%= user.photo %>" alt="User photo">
      </div>
      <div class="name-posts">
        <h2><%= user.name %></h2>
        <p>Number of posts: <%= user.posts_counter%> </p>
      </div>
    </div>
  <% end %>
</article>
