<article class="full_post">
  <%= render partial: "shared/post", locals: { post: @post, show_full_post: true } %>
  <div class="all_comments">
    <% @post.comments.each do |comment| %>
      <%= render "shared/comment", comment: comment %>
    <% end %>
  </div>
</article>
