*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user_details {
  display: flex;
  flex-direction: row;
  gap: 60px;
  align-items: center;
}

.name-posts {
  display: flex;
  align-items: center;
}

.name-posts h2 {
  width: 200px;
  padding: 20px 0;
}

.name-posts p {
  margin-left: 60px;
}
